.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 60px;
  right: auto;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 60px;
  left: auto;
  scale: 0.7;
}
.swiper-pagination {
  position: initial;
}
.btn-slider {
  position: absolute;
  bottom: 1rem;
  inset-inline-start: 6rem;
}
